extends templates/layout

block content
    //- if errorMessage
    //-     span=errorMessage
        
        

    form(method="POST")
        input(placeholder="Name", name="name", type="text", required, value=loggerInUser.name)
        input(placeholder="Email", name="email", type="email", required, value=loggerInUser.email)
        input(placeholder="Username", name="username", type="text", required, value=loggerInUser.username)
        //- input(placeholder="Password", name="password", type="password", required)
        //- input(placeholder="Confirm Password", name="password2", type="password", required)
        input(placeholder="Location", name="location", type="text", required, value=loggerInUser.location)
        //- input(type="submit", value="Join")



        //- loggedInUser.name

        //- input(placeholder="Name", name="name", type="text", required, value=loggedInUser.name)
        //- input(placeholder="Email", name="email", type="email", required , value=loggedInUser.email)
        //- input(placeholder="Username", name="username", type="text", required. , value=loggedInUser.username)
        //- input(placeholder="Password", name="password", type="password", required)
        //- input(placeholder="Confirm Password", name="password2", type="password", required)
        //- input(placeholder="Location", name="location", type="text", required, , value=loggedInUser.location)